@model IEnumerable<Mvc_Ogrenci_Kayit.Models.Table>

@{
    ViewBag.Title = "Index";
}

<h2>ÖGRENCİ LİSTESİ</h2>

<p>
    @Html.ActionLink("Yeni Kayıt", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OgrAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OgrSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OgrMail)
        </th>
       
        <th><asp:Table runat="server"></asp:Table>
            @Html.DisplayNameFor(model => model.OgrAdres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OgrAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OgrSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OgrMail)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.OgrAdres)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.OgrID },new { @Class = "btn btn-success" }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.OgrID }, new { @Class = "btn btn-primary" }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.OgrID }, new { @Class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
